@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gruppo&family=Lato:ital,wght@0,100;0,300;1,300;1,400&family=Merriweather:wght@300;400;700;900&family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    width: 100vw;
    height: 2500px;
    display: flex;
    background-color: #000;
    justify-content: center;
}

.container{
    width: 100vw;
    max-width: 2000px;
    height: 2500px;
    background-color: #fdc214;
    border-radius: 20px;
    font-family: 'Poppins';
}

.header-container{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#000;
    color: #fdc214; 
}

.header-container .logo{
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.header-container .logo h1 {
    font-size: 3.5rem;
  
}


.header-container .menu ul li{
    display: inline-block;
    list-style: none;
    color:#fdc214;
    margin-right: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem; 
    font-weight: 400;
}
.header-container .menu ul li:hover{
    color: #fff;
}

.menu{
    display: flex;
    align-items: flex-end;
    color: #000;
    
}
/* primeira secão*/
.first-sec{
    display: flex;
    width: 100%;
    height: 600px;
}
/* lado direito da sec*/
.first-sec .right-side{
    display: flex;
    width: 50%;
    justify-content: center;
    box-sizing: border-box;
    
}

.right-side .pic-content img{
    width: 100%;
    height: 100%;
}


/* lado esquero da sec*/
.left-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.left-side .letters{
    margin-left: 40px;
}


.left-side .letters span{
    background-color: #000;
    color: #fdc214;
    padding: 0 10px;
}
.left-side .letters h1 {
    font-size: 2.5rem;
    
}
.left-side .letters p {
    font-size: 1.5rem;
    font-family: 'poppins';
}

/* AND SEC 1 */ 

/* CARDAPIO */ 

.cardapio{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: linear-gradient(45deg,#fdc214,#b74806);;
    
}
.cardapio span {
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #000;
    color: #fdc214;
    padding: 0 40px;
    border-radius: 10px;
    text-align: center;
}
.cardapio h1 {
    text-align: center;
    font-size: 2.9rem;
    margin-bottom: 20px;
}

.pictures-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
}
.pictures-content .ft {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    margin-top: 20px;
    
}

.cardapio .ft img {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
    
    
}

/* comprar */ 


.buynow{
    display: flex;
    width: 100%;
    height: 600px;
    background: url(assets/peça\ ja.jpg);
    background-size: 100%;
    color: #fff;
}


.buynow button{
    width: 24rem;
    margin-top: 40px;
    background-color: #fdc214;
    border: 0;
    height: 5rem;
    border-radius: 5px;
    cursor: pointer;
}
.buynow button:hover{
    background-color: #0890ff;
}

.buynow div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.buynow span{
    font-size: 2rem;
    font-family: 'permanent marker';
    
}
.redes {
    background-color: #000;
}





